block header 
    header.header
        .header__logo
            p my company
        nav.nav
            a(href="#").nav__link Home
            a(href="#").nav__link About
            a(href="#").nav__link Services
            a(href="#").nav__link Portfolio
            a(href="#").nav__link About
            a(href="#").nav__link Contacts
        a(href="#").icon.hamburger-menu &#9776;