<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title bem-practice
    body
        section.bem-block
            p.bem-block__text-element.bem-block__text-element--bg-pink Lorem ipsum dolor sit amet.
            a.bem-bloc__link-element Get Started
    script(src="./index.js")

