block variables
doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="style.css")
    link(rel="styleshet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
  body
    block content