block variables 
    - var pageTitle ="Layout"
<!DOCTYPE html>
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="style.css")
        link(rel="styleshet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
        
    body
        header.header.wrapper
            nav.nav
                a.nav__title(href="#") The red one
                .nav__list
                    a.nav__item(href="#") Work
                    a.nav__item(href="#") People
                    a.nav__item(href="#") About
                    a.nav__item(href="#") Data
                    a.nav__item(href="#") Contact 
        main.page.wrapper
            section.headline
                h1.headline__text Digital world makes better living or makes us dependent
            section.photo-block
                

                
