block variables 
    - var pageTitle ="CSS Grid Review"
<!DOCTYPE html>
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="style.css")
        link(rel="styleshet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
        
    body.grid
        .container#it1
            h1 My content
            p My paragraph content       here :)
        .container#it2
            h1 My content
            p My paragraph content right here :)
        .container#it3
            h1 My content
            p My paragraph content right here :)