mixin navLink(link,name)
    li
        a(href=link).nav-link=name

mixin blockExample()
    .container
        block

header
    .header
        ul.nav
            +navLink('#','1')
            +navLink('#','2')
            +navLink('#','3')
    +blockExample()
        .use Hello block

            //- li
            //-     a(href="#").nav-link 1
            //- li
            //-     a(href="#").nav-link 2
            //- li
            //-     a(href="#").nav-link 3